{% extends 'base.html.twig' %}

{% set current = 'jobs' %}

{% block menu %}
    {% include 'candidate/menu.html.twig' %}
{% endblock menu %}

{% block body %}
    <section id="slider">
        <div class="tp-banner-container" style="overflow: visible;">
            <img src="{{ asset('/build/banner5.png') }}" style="width:100%" />
        </div>
    </section>
    <div class="page-header" style="background-color: #777;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Consulta tus solicitudes</h2>
                        <ol class="breadcrumb">
                            <li><a href="{{ path('app_candidate_dashboard') }}">Inicio</a></li>
                            <li><a href="{{ path('app_candidate_search_jobs') }}">Tus inscripciones</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <h2 class="section-title">Mis solicitudes</h2>
            <div class="row">
                {% if inscriptions is empty %}
                    <div class="alert alert-info alert-dismissable">
                        No has realizado ninguna solicitud de empleo.
                    </div>
                {% else %}
                    {% for inscription in inscriptions %}
                    {% for job in jobs %}
                        {% if inscription.jobOffer.id == job.id %}
                        <div class="job-list">
                            <div class="job-list-content">
                                <h4>{{ job.name }}<span class="full-time">pendiente</span></h4>
                                {{ job.description |raw }}
                                <div class="job-tag">
                                    <div class="pull-right">
                                        <div class="meta-tag">
                                            <div class="btn btn-primary">
                                                INSCRITO<div class="ripple-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="meta-tag">
                                            <span>{{ job.vacancies }} vacantes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}
