{% extends 'base.html.twig' %}

{% set current = 'search' %}

{% block menu %}
    {% include 'candidate/menu.html.twig' %}
{% endblock menu %}

{% block body %}
    <div class="page-header" style="background-color: #777;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Busca un chachi trabajo</h2>
                        <ol class="breadcrumb">
                            <li><a href="{{ path('app_candidate_dashboard') }}">Inicio</a></li>
                            <li><a href="{{ path('app_candidate_search_jobs') }}">Búsqueda de trabajos</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <h2 class="section-title">Buscador de empleo</h2>

            <div class="row">
                <div class="col-md-12">
                    {% for job in jobs %}
                        <div class="job-list">
                            <div class="job-list-content">
                                <h4>{{ job.name }}<span class="full-time">2 meses</span></h4>
                                {{ job.description |raw }}
                                <div class="job-tag">
                                    <div class="pull-right">
                                        <div class="meta-tag">
                                            <div class="btn btn-common btn-rm">
                                                Inscribirme<div class="ripple-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="meta-tag">
                                            <span>{{ job.vacancies }} vacantes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% else %}
                        <div class="alert alert-info alert-dismissable">
                            No hay elementos disponibles.
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
