{% extends 'base.html.twig' %}

{% set current = 'search' %}

{% block menu %}
    {% include 'candidate/menu.html.twig' %}
{% endblock menu %}

{% block body %}
    <section id="slider">
        <div class="tp-banner-container" style="overflow: visible;">
            <img src="{{ asset('/build/banner4.png') }}" style="width:100%" />
        </div>
    </section>
    <div class="page-header" style="background-color: #777;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="product-title">Busca un chachi trabajo</h2>
                        <ol class="breadcrumb">
                            <li><a href="{{ path('app_candidate_dashboard') }}">Inicio</a></li>
                            <li><a href="{{ path('app_candidate_search_jobs') }}">Búsqueda de trabajos</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="container">
            <h2 class="section-title">Buscador de empleo</h2>
            {% if message is defined and message is not empty %}
                <div class="alert alert-success alert-dismissable">
                    Tu solicitud se ha registrado correctamente.
                </div>
            {% endif %}
            <form class="">
                <div class="form-group is-empty">
                    <div class="row">
                        <div class="col-md-12">
                            <input name="q" type="text" class="form-control" placeholder="Buscar empleo">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 10px">
                        <div class="col-md-6">
                            <label class="control-label" for="textarea">Tipo de cultivo</label>
                            <div style="border: 1px solid #ddd;">
                                <select class="dropdown-product selectpicker">
                                    <option>Selecciona un cultivo...</option>
                                    <option>Trigo</option>
                                    <option>Fresa</option>
                                    <option>Olivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" for="textarea">Fecha de inicio</label>
                            <input type="text" class="form-control" placeholder="e.g 01/07/2021">
                        </div>
                    </div>
                    <span class="material-input"></span><span class="material-input"></span>
                </div>
                <div class="form-group">
                    <div class="button-group">
                        <div class="action-buttons">
                            <div class="upload-button">
                                <button class="btn btn-primary">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    {% for job in jobs %}
                        {% set hasInscription = false %}
                        {% for inscription in inscriptions %}
                            {% if inscription.jobOffer.id == job.id %}
                                {% set hasInscription = true %}
                            {% endif %}
                        {% endfor %}
                        {% if not hasInscription%}
                        <div class="job-list">
                            <div class="job-list-content">
                                <h4>{{ job.name }}</h4>
                                {{ job.description |raw }}
                                <div class="job-tag">
                                    <div class="pull-right">
                                        <div class="meta-tag">
                                            <div class="btn btn-common btn-rm">
                                                <a href="{{ path('app_candidate_inscription', {id: job.id}) }}" style="color:white;">
                                                    Inscribirme</a>
                                                <div class="ripple-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="meta-tag">
                                            <span>{{ job.vacancies }} vacantes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="alert alert-info alert-dismissable">
                            No hay elementos disponibles.
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
