<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}FarmJob - Portal de empleo{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/jasny-bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/bootstrap-select.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('build/material-kit.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/build/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/build/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('/build/color-switcher.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/build/animate.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/build/owl.carousel.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/build/owl.theme.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/build/settings.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/build/slicknav.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/build/main.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('/build/responsive.css') }}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('/build/red.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('/build/color-switcher.css') }}" type="text/css">
</head>
<body>
    <div class="header">
        <div class="logo-menu">
            {% block menu %}
                {% include 'landing/menu.html.twig' %}
            {% endblock menu %}
        </div>
    </div>
    {% block body %}{% endblock %}
    <footer>
        <section class="footer-Content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget">
                            <h3 class="block-title">FarmJob</h3>
                            <div class="textwidget">
                                <p>Tu portal de trabajo relacionado con el campo.</p>
                                <p>Encuentra el trabajo que necesitas.</p>
                                <p>Publicita tu oferta y encuentra a los operarios y cuadrillas que necesitas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget">
                            <h3 class="block-title">Acceso r치pido</h3>
                            <ul class="menu">
                                <li><a href="{{ path('app_landing_candidate')}}">Candidatos</a>
                                </li>
                                <li><a href="{{ path('app_landing_company')}}">Empresas</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget">
                            <h3 class="block-title">Trabajos m치s solicitados</h3>
                            <ul class="menu">
                                <li><a href="#">Recolecci칩n fresas</a></li>
                                <li><a href="#">Recolecci칩n aceituna</a></li>
                                <li><a href="#">Arados</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="widget">
                            <h3 class="block-title">Siguenos en</h3>
                            <div class="bottom-social-icons social-icon">
                                <a class="twitter"></a>
                                <a class="facebook"></a>
                                <a class="youtube"></a>
                                <a class="linkedin"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-info text-center">
                            <p>Todos los derechos reservados 2021</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script type="text/javascript" src="{{ asset('/build/jquery-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/material.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/material-kit.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/jquery.parallax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/jquery.slicknav.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/jquery.counterup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/jasny-bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/bootstrap-select.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/form-validator.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/contact-form-script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/jquery.themepunch.revolution.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/build/jquery.themepunch.tools.min.js') }}"></script>
</body>
</html>
